.product-icons img {
    height: 130px; 
    display: block; 
    cursor: pointer;
    border-bottom: 1px solid #ccc; 
    opacity: .6;
    padding: 10px; 
}

.product-icons img:hover {
    opacity:1;
}

.product-icons {
    float: left;
}

.img-container img {
    height: 422px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.img-container {
    float: left;
    margin: 10px;
    width: 420px;
    border: 1px solid #ccc;
}

.product {
    margin: 30px;
}